/* header */

.header {
  background: white;
  position: fixed;
  width: 100%;
}
.header .wrap {
  /* background: skyblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 76px;
}

.header h1 img {
  width: 165px;
}

.header .menuWrap ul {
  display: flex;
  gap: 100px;
}

/* visual */

.visual {
  /* background-color: pink; */
  height: 100vh;
  min-height: 700px;
  background-image: url(../img/img01_01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  color: white;
}

/* content */

.cont01 {
  height: 300px;
}

/* footer */
